    #canvas1{border:1px solid #2980b9; display:none;}
    #canvas2{border:1px solid #2980b9; display:none;}
    #text1{display:none; color: #2980b9;}
    #text2{display:none; color: #2980b9;}
    #original{border:1px solid #2980b9;}
    td{text-align: center;}
